:root {
    --primary: #12152c;
    --secundary: rgb(242, 211, 211);
    --h2: #D4AF37;
    --boton: #D4AF37;
    --tex: #F5F5F5;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--primary);      
}


a {
    text-decoration: none;
}

/* barra de navegacion --------------------*/
.barra_navegacion .logo img {
    width: 50px;
    height: 40px;
    background-color: aliceblue;
    border-radius: 5px;
}

.barra_navegacion {
    backdrop-filter: blur(8px);
    background-color: #52505078;
    position: fixed;
    width: 100%;
    height: 55px;
    z-index: 1000;
}

.barra_navegacion a {
    margin: 0 10px;
    font-size: 20px;
    color: #D4AF37;
    
}

.barra_navegacion a:hover {
    text-decoration: underline; /* Agrega una linea debajo de la A */
    color: white;
}

/* --------------- */

.card_personas {
    width: 300px;
}